
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.h2 {
  color: rgb(245, 101, 57);
  margin-bottom: 20px;
  
   
  padding-top: 40px; 
}



.service-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  justify-items: center;
  width: 100%;
}

.service {
  background-color: #ff6666;
  color: white;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}