.skills{
    background-color: rgb(33,33,33);
}
.skills, .skillsHeader {
    display: flex;
    align-items: center;
}

.skills {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 60vh;
    padding: 2.5rem 2rem 2rem;
}